//global style and varibales



$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

$light: #f8f8f8;



//update bulma global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $green;
$link: $light-green;


//update bulma component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//custom global styles
html {
    background: linear-gradient(to top right, $turquoise, $green);
}

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

