.modal-box {
    height: auto;
    width: 40%;
    min-width: 300px;
    background: white;
    border-radius: 5px;
    padding: 18px;

    h1 {
        margin-bottom: 8px;
    }
}

.toastlist {
    align-self: flex-end;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}