@import '../../main_styles.scss';


.task-manager-container {
    display: flex;
    width: 100%;
    height: 90%;
    margin: 0 10%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 8px 0px 0px 8px;
    padding: 42px;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0px 8px 8px 0px;
    padding: 42px;
    position: relative;


    button {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}


@media (max-width: 600px){
    .task-manager-container {
        margin: 0;
        height: 99.4%;
        align-self: flex-start;
        overflow-x: scroll;
    }

    .sidebar {
        width: 90%;
        min-width: 87%;
        border-radius: 0;
        z-index: 3;
        // box-shadow: 0.2em 0px 0.5em 0 #bdbdbd;
    }

    .task-list-container {
        min-width: 100%;
        width: 100%;
        border-radius: 0;
    }
}


.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.list-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
    overflow-y: scroll;

    .list-menu-item {
        display: flex;
        width: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        color: #5f5f5f;

        margin-bottom: 5px;

        .status {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;

            .complete {
                text-align: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: white;
                font-weight: bold;
                color: $dark-green;
                margin-right: 5px;
            }
    
            .incomplete {
                text-align: center;
                background-color: white;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                font-weight: bold;
                color: red;
            }
        }

        &:hover {
            background: $light;
        }

        &.isactive {
            background-color: #cff8ef;
            color: $dark-green;
        }

       

    }


}

.task-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    overflow-y: scroll;

    .task {
        display: flex;
        background-color: white;
        padding: 15px 5px 15px 20px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        p {
            flex-grow: 1;
        }

        img {
            padding: 0.2em;
            height: 1.5em;
            align-self: center;
        }
    
        &:not(.completed) {
    
            &:hover {
                box-shadow: 0 0 4px;
            }
    
        }
    
        &:active {
            transform: scale(0.95);
            opacity: 1;
        }

        &.completed {
            text-decoration: line-through;
            opacity: 0.8;
        }
    
    }

    

}

.head-row {
    display: flex;
    justify-content: space-between;
}

.fab {
    position: relative;
    top: -8px;
    align-self: baseline;
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
        width: auto;
        height: 100%;
    }
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;

    &.completed {
        text-decoration: line-through;
    }

    p {
        flex-grow: 1;
    }

    img {
        height: 1em;
    }
}
  
.cdk-drag-placeholder {
    opacity: 0 !important;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


